<div id="main">
    <div class="container w-full h-small" style="align-items: start;">
        <div id="description">{{data?.siteDescription}}
            <div *ngFor="let h of data.hashtags" class="hashtag">#{{h}} </div>
        </div>
    </div>
    <div class="container w-small h-medium">
        <div id="mainPhrase">{{data?.mainPhrase}}</div>
        <div id="mainDescription">{{data?.mainDescription}}</div>
        <div class="container w-h-small">
            <div id="behanceDescription">veja mais em nosso</div>
            <div id="behanceButton" class="blue-btn" (click)="openBehance()">
                <div class="button-container">
                    <div id="behanceIcon2"></div>
                    <span>PORTFÓLIO</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container w-medium h-medium" style="left:6.5%">
        <div class="move-btn right" (click)="rotateLeft(1)"></div>
        <div class="move-btn left" (click)="rotateRight()"></div>
        <div *ngIf="isHover" class="project-hover" (click)="openBehance(projects[0].url)"
        (mouseleave)="switchHover()">
            <div>ver projeto</div>
        </div>
        <div class="project-container" id="firstImage">
            <div class="project-full-image" [style.backgroundImage]="'url(' + projects[0].image + ')'"
                (mouseenter)="switchHover()" >
            </div>
        </div>
        <div class="project-container" id="secondImage" style="opacity: 0.5;">
            <div class="project-full-image" (click)="rotateLeft(1)"
                [style.backgroundImage]="'url(' + projects[1].image + ')'">
            </div>
        </div>
        <div class="project-container" id="thirdImage" style="margin-right: 0px;">
            <div class="project-half-image" (click)="rotateLeft(2)"
                [style.backgroundImage]="'url(' + projects[2].image + ')'">
            </div>
        </div>
    </div>
</div>